
	<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #0c90ee;">
		<a class="navbar-brand" href="/">Mongo News Scraper</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/SavedArticles">Saved Articles</a>
			<a class="nav-item nav-link" href="/scrape">Scrape New Articles</a>
			<a class="nav-item nav-link" href="">Clear Articles</a>
			</div>
		</div>
	</nav>
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Mongo News Scraper</h1>
		<div id="articles"></div>
      <div id="notes"></div>
	</div>
</div>
